# Python
__pycache__/
*.py[cod]
*$py.class
.venv/
.env
*.egg-info/
dist/
build/

# Node
node_modules/
.env
.env.local
dist/
.DS_Store

# IDE
.vscode/
.idea/

# Testing
.pytest_cache/
.coverage
htmlcov/

# Logs
*.log
